asgiref==3.7.2
astroid==3.0.2
black==22.1.0
blue==0.9.1
chardet==5.2.0
click==8.1.7
colorama==0.4.6
convertdate==2.4.0
dill==0.3.7
Django==5.0
flake8==4.0.1
gunicorn==21.2.0
isort==5.13.2
lunardate==0.2.2
mccabe==0.6.1
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
Pillow==10.1.0
platformdirs==4.1.0
psutil==5.9.7
psycopg2-binary==2.9.9
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==3.0.3
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pyluach==2.2.0
PyMeeus==0.5.12
python-dateutil==2.8.2
python-dotenv==1.0.0
reportlab==4.0.8
ruff==0.1.9
six==1.16.0
sqlparse==0.4.4
taskipy==1.12.2
timesheet @ file:///home/hick/git/timesheet
tomli==2.0.1
tomlkit==0.12.3
whitenoise==6.6.0
workalendar==17.0.0
